/*Contato*/

section.formcontato{
    width: 100%;
    display: flex;
    margin: 3% 5%;
}

.formcontato__contacto {
    display: flex;
}

.formcontato__title {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.formcontato__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 450px;
    justify-content: space-between;
}

.formcontato__text {
    margin: 0 10px;
}

.formcontato__input {
    padding: 10px;
    width: 100%;
}

    /*tablet*/

@media only screen and (max-width: 820px) {
    .formcontato__img {
        display: none;
    }
    .formcontato__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    }
    .formcontato__subtext {
    width: 300px;
    line-height: 16px;
    }
   input.formcontato__input {
        margin: 3%;
    }
    textarea.formcontato__textarea {
        margin: 3%;
    }
    .formcontato__form {
        justify-content: inherit;
    }
}